* {
    margin: 0;
    padding: 0;
    background-color: #1e293b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    color: white;
}

body {
    text-align: center;
}

.mainDiv > .generateBtn {
    /* height: 1rem; */
    margin: 20px;
    padding: 8px 20px;
    border-radius: 16px;
    background-color: #cbd5e1;
    color: black;
    font-size: large;
    font-weight: 600;
    transition: all 300ms ease-in-out;
}
.generateBtn:hover {
    cursor: pointer;
    background-color: #475569;
    color: white;
    letter-spacing: 3px;
}


img {
    object-fit: contain;
}
img:hover {
    border: 3px solid #cbd5e1;
    border-radius: 16px;
}

.authorName {

}